extends layouts/main-layout.pug

block content 
    if !profileUser
      h3 Check url
    else
      script. 
        var profileUserId = '!{profileUser._id}'
        var selectedTab = '!{selectedTab}'
      .profile 
        .profile-header 
          .profile-cover
            .profile-cover-container
              if profileUser.coverPhoto 
                img.profile-coverPhoto(src=profileUser.coverPhoto, alt="")
              if profileUser._id == userInfo._id
                .profile-cover-wrapper
                  button.profile-cover-btn(type='button' data-bs-toggle='modal' data-bs-target='#uploadCoverModal')
                    i.fas.fa-camera 
            .profile-imgContainer
              img(src=profileUser.profilePic, alt="" )
              if profileUser._id == userInfo._id
                .profile-img-wrapper
                  button.profile-camera(type='button' data-bs-toggle='modal' data-bs-target='#uploadImageModal') 
                    i.fas.fa-camera
          .profile-btns 
            if profileUser._id != userInfo._id
              a.profile-btn(href=`/messages/${profileUser._id}`)
                i.fas.fa-envelope
              - let profileUserId = profileUser._id.toString()  
              - if(userInfo.following && userInfo.following.includes(profileUserId))
                +createFollowBtn(profileUser,true)
              - else 
                +createFollowBtn(profileUser,false)
              
          .profile-details
            span.profile-name #{profileUser.firstName} #{profileUser.lastName}
            span.profile-username @#{profileUser.username}
            span.profile-description #{profileUser.description}

            .profile-followers
              a(href=`/profile/${profileUser.username}/followings`)
                span.value #{profileUser.following.length}
                span Following
              a(href=`/profile/${profileUser.username}/followers`)
                span.value.followers-value #{profileUser.followers.length}
                span Followers  
        .profile-tabs 
          +createTab('Posts',`/profile/${profileUser.username}`,selectedTab != 'replies')
          +createTab('Replies',`/profile/${profileUser.username}/replies`,selectedTab == 'replies')
        .pin-post-container
        .profile-posts
      +createPostModals(userInfo)
      +createUploadImageModal()
      +createUploadCoverModal()
    
block scripts 
    script(src="/scripts/profile.js") 